*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(43 41 41);
}

.Top{
    display:flex;
    margin:0px 2px 50px 1px;
    background-color: #0e0d0d;
    position: sticky;
    top: 0px;
    z-index: 10000;
    height: 75px;
}
.heading{
    color:lightgrey;
    font-size:40px;
    margin:20px;
}
.icons{
    display: flex;
    position:relative;
    left:850px;
    top:32px;
    color:lightgrey;
}
.search{
    position:relative;
    left:90px;
    font-size: 20px;  
    height: 20px;
    cursor: pointer;  
}
.cart{
    position: relative;
    left: 140px;
    font-size: 20px;
    height: 20px;
    cursor: pointer;
}
.count{
    background-color:orangered;
    border-radius: 100%;
    padding: 3px;
    font-size: 13px;
    position: relative;
    bottom: 9px;
}
.user{
    position: relative;
    left: 190px;
    font-size: 20px;
    height: 20px;
    cursor: pointer;
}
 .hide1{
    visibility:hidden;
    position: absolute;
    top: 21px;
    z-index: 1000;
    right: 0px;
    width: 223px; 
    border: 2px solid gray;  
}
.user:hover  .hide1 {
    opacity: 1;
    visibility: visible; 
} 
.product-highlight{
    color:lightgrey;
    font-weight: bold;
    display: flex;
}
.product-info{
    margin:27px 40px 100px 100px;
}
.product-title{
    font-size: 28px;
}
.product-description{
    font-size: 60px;
}
.shop-now{
    background-color: red;
    color:rgba(192, 182, 182, 0.952);
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    border:solid rgb(31, 26, 26);
}
.boat1discount-price{
    display:flex;
    font-size: 28px;
    margin: 10px 5px 20px 0px;  
 }
.boat1discount-price{
    margin:7px 5px 7px 7px;
}
.boat1original-price{
    font-size: 23px;
    margin:10px 8px 8px 8px;
    text-decoration: line-through;
    color:rgb(113, 116, 106);
    font-weight: bold;
}
.img1{
    height:420px;
    width:530px;
    position: relative;
    left: -28%;
    top: 30px;
}
.featured-products{
    color:lightgrey;
    text-align: center;
    font-size: 35px;
    position: relative;
    right: 50px;
}
.product-list{
    display:flex;
    color:lightgrey;
}
.img2{
    height: 100px;
    width:100px;
}
.img3{
    height: 175px;
    width: 185px;
    position: relative;
    right: 16px;
}
.img4{
    height:250px;
    width:250px;
    position: relative;
    right: 20px;
} 
.img5{
    height: 173px;
    width: 181px;
    position: relative;
    right: 17px;
}  
.img6{
    height: 100px;
    width:100px;
    position: relative;
    left: 15px;
    
}
.product-card1{
    position: relative;
    left:60px;
    top: 80px;
    width: 10%;
    top:100px;
} 
.product-card2{
    position: relative;
    left:140px;
    height: 300px;
    top: 65px;
    font-size:large;
    width: 15%;
}
.product-card3{
    position: relative;
    left:226px;
    height: 400px;
    font-size:x-large;
}
.product-card4{
    position: relative;
    left:360px;
    height: 300px;
    top: 65px;
    font-size:large;
    width: 15%;
}
.product-card5{
    position: relative;
    left:450px;
    top:80px;
    width: 10%;
    top:100px;
}
.jbl1price,.jbl2price,.jbl3price,.jbl4price,.jbl5price{
    display:flex;  
 }
.jbl1discount-price{
    margin:7px 5px 7px 7px;
    font-size: 18px;
}
.jbl1original-price{
    font-size: 15px;
    margin:9px 8px 8px 5px;
    text-decoration: line-through;
    color:rgb(113, 116, 106);
    font-weight: bold;
}
.jbl2discount-pricerice{
    margin:7px 5px 7px 7px;
    font-size: 25px;
}
.jbl2original-price{
    font-size: 20px;
    margin:9px 8px 8px 5px;
    text-decoration: line-through;
    color:rgb(113, 116, 106);
    font-weight: bold;
}
.jbl3discount-pricerice{
    margin:7px 5px 7px 7px;
    font-size: 40px;
}
.jbl3original-price{
    font-size: 33px;
    margin:14px 8px 8px 5px;
    text-decoration: line-through;
    color:rgb(113, 116, 106);
    font-weight: bold;
}
.jbl4discount-pricerice{
    margin:7px 5px 7px 7px;
    font-size: 25px;
    
}
.jbl4original-price{
    font-size: 20px;
    margin:9px 8px 8px 5px;
    text-decoration: line-through;
    color:rgb(113, 116, 106);
    font-weight: bold;
    
}
.jbl5discount-price{
    margin:7px 5px 7px 7px;
    font-size: 18px;
    position: relative;
    left: 30px;
}
.jbl5original-price{
    font-size: 15px;
    margin:9px 8px 8px 5px;
    text-decoration: line-through;
    color:rgb(113, 116, 106);
    font-weight: bold;
    position: relative;
    left: 30px;
}
.top-products{
    text-align: center;
    margin: 75px;
    color:lightgrey;
    font-size: 30px;
}
.top-product-buttons{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;
}
.TPbutton1,.TPbutton2,.TPbutton3,.TPbutton4,.TPbutton5{
    border:none;
    color: lightgrey;
    font-size: 20px;
    background-color: rgb(43 41 41);
}
.TPbutton1{
    background-color:red;
    color:white;
    border-radius:2px;
    padding:5px 10px 5px 10px;
}
.TPbutton2:hover,.TPbutton3:hover,.TPbutton4:hover,.TPbutton5:hover{ 
    background-color:red;
    color:white;
    transition-delay:5ms;
    border-radius:2px;
    padding:5px 10px 5px 10px;
}
.product-details{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.img8{
    height:200px;
    width:200px;
    background-color: rgba(61, 58, 56, 0.171);
}
.product-card6{
    border: 2px solid gray;
    margin:5px;
    padding:5px;         
}
.img8:hover{
    cursor: pointer;
    transform: translateY(10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
 
}
.img7{
    text-align: center;
    width:305px;
    background-color: rgba(219, 207, 199, 0.171);
}
.fa-star{
    color:red;
    font-size: 12px;
}
.price{
    display: flex;
}
.discount-price{
    margin:7px 5px 7px 7px;
    font-size: 25px;
    color:lightgray
}
.original-price{
    font-size: 20px;
    margin:9px 8px 8px 5px;
    text-decoration: line-through;
    color:rgb(113, 116, 106);
    font-weight: bold;
}

.TP1heading{
    font-size: 30px;
    color: lightgray;
}
.TP1side{
    color:rgb(113, 116, 106);
    font-size: 25px;
}
.add-to-cart{
    color: lightgray;
    background-color: red;
    padding: 5px;
    width: 271px;
    border-radius: 5px;
    border: none;
    height: 40px;
    font-size: 20px;
}
.TPcart1{
     text-align: center;
}
.stars{
    margin:15px;
}
.product-card-last{
    font-size: 30px;
    text-align:center;
    color: lightgray;
    border: 2px solid gray;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.product-card-lastsub{
    text-align: center;
   
}
.advantages{
    text-align: center;
    font-size: 35px;
    color:lightgray;
}
.advantages-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
}


.fa-truck,.fa-shield-halved,.fa-tags,.fa-credit-card{
    color: red;
    font-size: 33px;
    margin:10px 20px 10px 10px;
}
.AFheading{
    font-size: 23px;
    color:lightgray
}
.AFcontent{
    font-size:18px;
    color:rgb(113, 116, 106);
}
.footer-info{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: rgb(0, 0, 0);
    z-index: 100000;
    padding: 10px;
}
h3{
    color: lightgrey; 
    font-size: 20px; 
}
.footer-links,.footer-links1,.footer-links2,.footer-links3{
    color: rgb(179 181 174);        }
footer input{
    margin: 5px;
    background-color:black ;
    border:solid rgb(62, 58, 58);
    padding: 10px;
    border-radius: 5px;
    width:250px;
}
footer button{
    margin: 5px;
    background-color:rgb(226, 9, 9) ;
    border:solid rgb(255, 14, 14);
    padding: 5px;
    color: white;
    border-radius: 5px;
}
.footer-links{
    width:500px;
}
a{
    color:lightgray;
    text-decoration: none;
}
.footer-bottom{
    display:grid;
    grid-template-columns: repeat(2,1fr);
}
.social-icons{
    color:rgb(113, 116, 106); ;
    margin: 20px 20px 20px 450px;

}
.footer2{
    background-color: rgb(0, 0, 0);
}
.footerspan{
    margin:20px;
    color: rgb(160 163 154);
    padding: 10px 0px;
}
.social-icons i{
   padding:10px;
   font-size: 20px;
}     